.container {
	margin: 7% 3%;
	position: relative;
}

.img1container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* position: absolute;
	left: 45%; */
}

.img1 {
	width: 75% !important;
}

.img2container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.img2 {
	width: 65% !important;
	margin: 25% 0;
}
